/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
header nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header nav .logo{
    height: 50px;
    width: 120px;
}
header nav .menu{
    display: flex;
    align-items: center;
}
nav .menu a{
    color: #fff;
    margin-left: 30px;
    position: relative;
}
nav .menu a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ff0000;
    transition: 0.4s;
}
nav .menu a:hover::after{
    width: 100%;
}
nav .social{
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 30px;
    position: relative;
}
nav .social .facebook a i{
    margin-right: 30%;
    position: center;
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
    transition: 0.3s;
}
nav .social .facebook a i:hover{
    transform: scale(1.3);
    color: #1361c8;
}
nav .social .twitter a i{
    justify-content: none;
    align-items: right;
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
    transition: 0.3s;
}
nav .social .twitter a i:hover{
    transform: scale(1.3);
    color: #ff0000;
}
nav .social .instagram a i{
    justify-content: space-between;
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
    transition: 0.3s;
}
nav .social .instagram a i:hover{
    transform: scale(1.3);
    color: #e276d4;
}
.hero{
    width: 100%;
    height: 100vh;
    background: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .text{
    width: 90%;
    margin: left;
    text-align: left;
}
.hero .text h4{
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.2s;
}
.hero .text h1{
    color: #fff;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.4s;
}
.hero .text h1 span{
    color: #e30d0d;
    font-size: 80px;
    font-weight: bold;
}
.hero .text p{
    color: #fff;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.6s;
}
.hero .text .btn{
    padding: 10px 30px;
    background-color: #dd0707;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #dd0707;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.8s;
}
.hero .text .btn:hover{
    background-color: transparent;
}

.content {
    padding: 100px 120px;
    background: #ff0101;
    text-align: center;
    position: relative;

}

.animate-content {
    opacity: 200;
    transform: translateY(0);
    animation: fadeInUp 1s forwards;
}

.fade-out {
    animation: fadeOutDown 0.5s forwards;
}

.front {
    width: 100%;
    height: 100vh;
    background: url(img/bg-front.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    justify-content: baseline;
    align-items: center;  
}

.front .text{
    width: 50%;
    margin: auto;
    text-align: center;
}
.front .text h1{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.4s;
}
.front .text h1 span{
    color: #e30d0d;
    font-size: 90px;
    font-weight: bold;
    transform: translateY(40px);
    animation: fadeInUp 1s forwards 0.4s;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.front .text p{
    color: #fff;
    animation: fadeInUp 1s forwards 0.4s;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(40px);
    
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.side{
    width: 100%;
    height: 100vh;
    background: url(img/bg-side.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.side .text{
    width: 60%;
    margin: auto;
    text-align: center;
}
.side .text h1{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s forwards 0.4s;
}
.side .text h1 span{
    opacity: 0;
    color: #e30d0d;
    font-size: 70px;
    font-weight: bold;
    transform: translateY(30px);
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.side .text p{
    color: #fff;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(40px);
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.back{
    width: 100%;
    height: 100vh;
    background: url(img/bg-last.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.back .text{
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: flex-end;   
    height: 40vh;           
    text-align: center; 
    
}
.back .text h1{
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 2s forwards 0.4s;
}
.back .text h1 span{
    opacity: 0;
    color: #e30d0d;
    font-size: 70px;
    font-weight: bold;
    transform: translateY(30px);
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
